* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1420px;
    margin: auto;
}

/* nav-start............................. */

.main_nav_section {
    background: rgb(255, 255, 255);
}
.main_nav_items {
    display: flex;
}
.nav_logo {
    width: 20%;
}
.nav_logo h1{
    color: #2d4bf0;
    font-size: 50px;
}

.nav_item {
    width: 60%;
}
.nav_item ul{
    list-style-type: none;
}
.nav_item ul li{
    float: left;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    
}
.nav_item ul li a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.nav_item ul li a:hover{
    color: rgb(105, 98, 233);
}
.nav_icon {
    width: 20%;
}
.nav_icon i{
    padding: 13px 20px 10px 10px;
    margin-top: 12px;
    margin-left: 60px; 
}
.nav_icon i{
    outline: rgb(0, 0, 0) 1px solid;
    width: 200px;
    border-radius: 30px;
}

/* nav end................................... */
/* hero start.............................. */

#hero{
    background-image: url(..//img/river-flowing-through-forest-generative-al2-min.jpg);
    height: 900px;
    background-size: cover;  
}
.hero-text{
    text-align: center;
}
.hero-text h1{
    font-size: 50px;
    color: white;
    padding-top: 120px;
}
.hero-text p{
    font-size: 25px;
    padding-top: 30px;
    color: white;
}
.hero-link{
    display: flex;
    margin-left: 550px;
    padding-top: 50px;
}
.hero-link a{
    border:none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
}
.linkone a{
    background-color: rgb(166, 151, 112);
    text-decoration: none;
}
.linktwo a{
    text-decoration: none;
    margin-left: 40px;
    border: 1px solid white;
}
.linktwo a:hover{
    background-color: #ffffff;
    color: black;
}
.content{
    display: flex;
    padding-left: 170px;
    padding-top: 130px;  
}
.option{
    background-color: rgb(166, 151, 112);
    width: 230px;
    height: 230px;
    border-radius: 30px;
    margin-right: 50px;
    text-align: center;   
}
.option img{
    width: 100px;
    height: 100px;
    margin-top: 30px;  
}
.option h1{
    color: white;
    margin-top: 20px;  
}
/* hero end..................................... */
/* footer start........................... */

footer{ 
    background-color: #111010;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-sec{
    height: 300px;
    display: flex;
}
footer .app-name{
    color: rgb(51, 59, 223);
    font-size: 40px;
}
footer .app-info{
    padding-top: 30px;
}
.footer-sec{
    justify-content: space-between;
}
.app-info p{
    color: white;
}
.footer-title{ 
    font-size: 25px;
    line-height: 30px;
    color: white; 
    padding-top: 40px;  
}
footer ul{ 
    margin-top: 10px;
    color: white;
    font-size:18px;
    line-height: 25px;
    list-style: none;
}
footer ul li:hover{
    color: rgb(51, 59, 223);
}
footer form{
    padding-top: 20px;
}
footer form input{
    padding: 5px 40px 5px 5px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}
footer form textarea{
    padding: 5px 30px 5px 5px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 5px;
}
footer form button{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    background-color: #0d31ff;
}
footer form button a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.copyright{
    background-color: #272231;
    color: rgb(255, 255, 255);
    padding: 20px ;
    text-align: center;
}
/* footer end...................... */


