* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container {
  max-width: 1420px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* hero section start */
body {
  font-family: 'Oswald', sans-serif;
}
#hero {
  background-color: rgb(62, 59, 59);
  height: 100%;
}
.hero-topic {
  background-color: aliceblue;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.heading {
  background-color: rgb(163, 173, 170);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.heading h1 {
  border-radius: 20px;
  font-size: 40px;
  border-bottom: 2px solid black;
}
.css {
  margin-top: 10px;
  font-size: 23px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.css h1 {
  margin-bottom: 10px;
}
a {
  line-height: 20px;
}
a.as1:hover,a.as1:active {
  color: red;
  display: inline;
}
a.as2:hover,a.as2:active {
  font-size: 150%;
}
a.as3:hover,a.as3:active {
  background: red;
  display: inline;
}
a.as4:hover,a.as4:active {
  font-family: monospace;
}
a.as5:visited,a.as5:link {
  text-decoration: none;
}
a.as5:hover,a.as5:active {
  text-decoration: underline;
}
input:checked {
  height: 20px;
  width: 20px;
}
input[type=text]:enabled {
  background: #fffffa;
}
input[type=text]:disabled {
  background: #959191;
}
p:empty {
  width: 200px;
  height: 20px;
  background: #3a2525;
}
p:first-child {
  background-color: rgb(94, 94, 43);
}
.p1:first-of-type {
  background: rgb(216, 136, 136);
}
.form1 input:focus {
  background-color: rgb(84, 84, 14);
}
.hover:hover {
  background-color: aquamarine;
}
.inrang input:in-range {
  border: 2px solid rgb(208, 37, 37);
  width: 100px;
  height: 22px;
}
p:lang(it) {
  background: rgb(184, 135, 207);
}
a:link {
  background-color: rgb(214, 214, 166);
}
.a:only-of-type {
  background: red;
}
.optional input:optional {
  background-color: rgb(119, 118, 118);
}
.outofrang input:out-of-range {
  border: 2px solid red;
}
input:read-only {
  background-color: rgb(194, 109, 174);
}
:target {
  border: 2px solid #D4D4D4;
  background-color: #747b61;
}
.vald input:valid {
  background-color: yellow;
}
/* unvisited link */
.link a:link {
  color: green;
}
/* visited link */
.link a:visited {
  color: rgb(237, 82, 16);
}
/* mouse over link */
.link a:hover {
  color: red;
}
/* selected link */
.link a:active {
  color: yellow;
}
.first-letter::first-letter {
  font-size: 200%;
  color: #8A2BE2;
}
.first-line::first-line {
  font-size: 25px;
  color: #c8bc14;
}
::marker {
  color: rgb(38, 0, 255);
}
ul {
  margin-left: 25px;
}
ol {
  margin-left: 25px;
}
.selection::selection {
  color: rgb(255, 255, 255);
  background: rgb(221, 221, 125);
}
.background{
  border: 1px solid black;
  width: 200px;
  height: 100px;
  background-color: #000000;
}
.body{
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a2525;
}
.heart{
  height: 100px;
  width: 100px;
  background: #f20044;
  position: relative;
  transform: rotate(45deg);
  box-shadow: 10px 10px 90px #f20044; 
}
.heart::before{
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: #f20044;
  top: -50%;
  box-shadow: -10px -10px 90px #f20044;
  border-radius: 50px;
}
.heart::after{
  content: "";
  height: 100px;
  width: 100px;
  right: 50%;
  background: #f20044;
  position: absolute; 
  box-shadow: -10px 10px 90px #f20044;
  border-radius: 50px;
}

/* hero sec end */